/* -- LIGHT THEME -- */

.mobile-navigation .mdl-navigation__link.is-active {
    background-color: rgba(227,227,227, 1);
}

.desktop-navigation .mdl-navigation__link.is-active {
    background-color: rgba(227,227,227, 0.5);
}

.desktop-navigation .mdl-navigation__link:hover,
.mobile-navigation .mdl-navigation__link:hover {
    background-color: rgba(227,227,227, 0.1);
}

.loader-container {
    position: absolute;
    z-index: 999;
    background: white;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    padding: 0;
    flex: 1;
    flex-direction: column;
}

.loader-container > div {
    padding: 0;
    margin: 0;
}

.loader-container > div:first-child,
.loader-container > div:last-child {
    flex: 1;
    width: 100%;
    height: 33%;
}

.loader-container .container {
    display: flex;
    flex: 1;
    height: 33%;
    justify-content: center;
    align-items: center;
}

.mdl-tabs__tab-bar--mobile {
    overflow-x: auto;
    padding-top: 50px;
    width: auto;
    padding-left: 500px;
}

.mdl-tabs__tab-bar--mobile .mdl-tabs__tab {
    width: auto;
    overflow: unset;
}

.mdl-layout__tab-bar-button:not(.is-active) {
    display: none;
}

.mdl-data-table tbody tr.hiddable {
    height: unset;
}

.mdl-data-table tbody tr.hiddable td,
.mdl-data-table tbody tr.hiddable th {
    height: unset;
}

tr.hiddable td.hide > div,
tr.hiddable th.hide > div {
    max-height: 0;
    padding: 0 10px;
    box-sizing: border-box;
    overflow: hidden;
    transition: height 0.5s, padding 0.5s;
}

.mdl-data-table {
    background-color: transparent;
}

.mdl-list__item--three-line {
    height: unset;
}

.mdl-list__item--three-line .mdl-list__item-text-body {
    height: unset;
    min-height: 52px;
    padding-top: 5px
}

.mdl-list__item--three-line .mdl-list__item-primary-content {
    min-height: 52px;
    height: auto;
}

.mdl-list__item-avatar {
    background: transparent;
}

#scroll-services table tr th, #scroll-services table tr td {
    text-align: left;
    width: 50%;
}

.mdl-layout__tab-panel {
    overflow-x: auto;
}

    /* -- DARK THEME -- */

.theme--dark, .theme--dark .mdl-layout__drawer,
.theme--dark .mdl-layout__drawer .mobile-navigation {
    background-color: black;
    color: #eeeeee;
}

.theme--dark .mdl-layout__drawer .mobile-navigation .mdl-navigation__link {
    color: #eeeeee;
}

.theme--dark .mdl-layout__drawer .mobile-navigation .mdl-navigation__link.is-active,
.theme--dark .mdl-layout__drawer .mobile-navigation .mdl-navigation__link:hover {
    color: black;
}

.theme--dark header,
.theme--dark .mdl-layout__drawer-button .material-icons,
.theme--dark .desktop-navigation a.mdl-navigation__link {
    color: black;
}

.theme--dark .mdl-tabs__tab,
.theme--dark .mdl-tabs__tab.is-active {
    color: #eeeeee!important;
}

.theme--dark .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active::after {
    height: 3px;
}

.loader-container--dark {
    background: black;
}

.theme--dark .mdl-data-table,
.theme--dark .mdl-data-table tr td {
    background-color: transparent;
    border-color: #eeeeee;
    color: #eeeeee;
}

.theme--dark .mdl-data-table tr th {
    color: #eeeeee;
}

.theme--dark .mdl-data-table tbody tr:hover {
    background-color: rgba(238, 238, 238, 0.4);
}

.theme--dark pre[class*=language-] {
    background-color: black;
    border-color: #673AB7;
}

.theme--dark .mdl-list__item-primary-content,
.theme--dark .mdl-list__item-primary-content .mdl-list__item-text-body {
    color: #eeeeee;
}
